"--------------------
" 基本的な設定
"--------------------
"新しい行のインデントを現在行と同じにする
set autoindent

"大文字小文字の区別なし
set ignorecase

"検索時に大文字を含んでいたら大/小を区別
set smartcase

"インクリメンタルサーチを行う
set incsearch

" 検索結果のハイライトをEsc連打でクリアする
"nnoremap <ESC><ESC> :nohlsearch<CR>
nmap <Esc><Esc> :nohlsearch<CR><Esc>

"検索対象をハイライト
"ハイライトを消す場合は:noh[l]
set hlsearch

"タブの代わりに空白文字を指定する
set expandtab

" 置換
nmap gs :<C-u>%s//g<Left><Left>
vnoremap gs :s//g<Left><Left>

" 検索
nmap <Space>/ *<C-o>
nmap g<Space>/ g*<C-o>

" エスケープ
inoremap <silent> jj <ESC>

"x キー削除でデフォルトレジスタに入れない
nnoremap x "_x
vnoremap x "_x

"vv で行末まで選択
vnoremap v ^$h

"選択範囲のインデントを連続して変更
vnoremap < <gv
vnoremap > >gv


